<div class="fixed-footer">
  <div class="container" style="color:#808080">
    Eurofins IT Expert Database processes the personal
    data ( e.g. PUID, name, country, Job Title and Email Id ) of Eurofins IT Employees based on the legitimate interest
    to provide internal supply of Skills and expert directory for more efficient work environment. For more
    information, please read the <a href='../assets/Document/Privacy Policy.docx' target='_blank'>
      <u>Privacy Notice.</u>
    </a> For questions and requests, Please contact
    <a class="ExpertDBAdmin" [routerLink]="" (click)="OpenExpertDataBaseAdmin()"><u>Expert Database
        administrator</u></a>.
  </div>
</div>